*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    margin: 0;
    padding: 150px 0;
    background-color: #ecf0f1;
}


.loader{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    z-index: 10;
    background-color: #ecf0f1;
    transition: all 0.3s;
}

.loader .loader-img{
    animation: pulse 3s ease-in-out infinite;
}

.loader-bottom{
    height: auto;
    position: relative;
    padding: 50px 0;
}

@keyframes pulse {
    0%{
        opacity: 0.7;
        transform: scale(0.8);
    }
    50%{
        opacity: 1;
        transform: scale(1.2);
    }
    100%{
        opacity: 0.7;
        transform: scale(0.8);
    }
}

@media (min-width: 576px) { 
    
}

@media (min-width: 768px) {
    
}

@media (min-width: 992px) {
    
}

@media (min-width: 1200px) {
    
}